{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1 class="pt-8 text-6xl text-center">Hello {{ controller_name }}! ✅</h1>
    <div>by:</div>
    <div class="flex justify-center">
        <a href="https://uniproyect.com" class="button">UniProyect</a>
    </div>
</div>
{% endblock %}
